In [23]:
import pandas as pd
import pickle as pk
from rdkit import Chem
data_path_prefix = "../data/"

In [24]:
pt = Chem.GetPeriodicTable()

In [2]:
from mendeleev import get_table
ptable = get_table('elements')

In [21]:
ptable_access = {}
for _,row in ptable.iterrows():
    ptable_access[row["symbol"]] = row["atomic_number"]

In [48]:
ptable.loc[5]

annotation                                                     density(graphite),
atomic_number                                                                    6
atomic_radius                                                                   91
atomic_volume                                                                  5.3
block                                                                            p
boiling_point                                                                 5100
density                                                                       2.25
description                      Carbon is a member of group 14 of the periodic...
dipole_polarizability                                                         11.3
electron_affinity                                                          1.26212
electronic_configuration                                              [He] 2s2 2p2
evaporation_heat                                                               NaN
fusion_heat                                                                    NaN
group_id                                                                        14
lattice_constant                                                              3.57
lattice_structure                                                              DIA
melting_point                                                                 3820
name                                                                        Carbon
period                                                                           2
series_id                                                                        1
specific_heat                                                                0.711
symbol                                                                           C
thermal_conductivity                                                          1.59
vdw_radius                                                                     170
covalent_radius_cordero                                                         73
covalent_radius_pyykko                                                          75
en_pauling                                                                    2.55
en_allen                                                                     15.05
jmol_color                                                                 #909090
cpk_color                                                                  #c8c8c8
                                                       ...
vdw_radius_batsanov                                                            170
vdw_radius_dreiding                                                         389.83
vdw_radius_uff                                                               385.1
vdw_radius_mm3                                                                 204
abundance_crust                                                                200
abundance_sea                                                                   28
molcas_gv_color                                                            #555555
en_ghosh                                                                  0.224776
vdw_radius_alvarez                                                             177
c6_gb                                                                         47.9
atomic_weight                                                               12.011
atomic_weight_uncertainty                                                      NaN
is_monoisotopic                                                               None
is_radioactive                                                               False
cas                                                                      7440-44-0
atomic_radius_rahm                                                             190
geochemical_class                                                    semi-volatile
goldschmidt_class                                                        atmophile
metallic_radius                                                                NaN
metallic_radius_c12                                                             86
covalent_radius_pyykko_double                                                   67
covalent_radius_pyykko_triple                                                   60
discoverers                                                  Known to the ancients
discovery_year                                                                 NaN
discovery_location                                                            None
name_origin                                              Latin: carbo, (charcoal).
sources                          Made by burning organic compounds with insuffi...
uses                             For making steel, in filters, and many more us...
mendeleev_number                                                                87
dipole_polarizability_unc                                                      0.2
Name: 5, Length: 69, dtype: object

In [16]:
train_properties = pd.read_csv(data_path_prefix + "train.csv")

In [5]:
set_of_train_molecules = set()

In [6]:
molecule = ""
for i, row in mc.iterrows():
    temp = row["molecule_name"]
    if molecule != temp:
        molecule = temp
        set_of_train_molecules.add(molecule)

In [7]:
set_of_train_molecules

{'dsgdb9nsd_000001',
 'dsgdb9nsd_000002',
 'dsgdb9nsd_000003',
 'dsgdb9nsd_000005',
 'dsgdb9nsd_000007'}

In [17]:
x = train_properties["atom_index_0"]

In [21]:
max = 0
for i in x.values:
    if i > max:
        max = i
print(max)

28

In [22]:
mc.head(35)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>molecule_name</th>
      <th>atom_index_0</th>
      <th>atom_index_1</th>
      <th>type</th>
      <th>scalar_coupling_constant</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>dsgdb9nsd_000001</td>
      <td>1</td>
      <td>0</td>
      <td>1JHC</td>
      <td>84.80760</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>dsgdb9nsd_000001</td>
      <td>1</td>
      <td>2</td>
      <td>2JHH</td>
      <td>-11.25700</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>dsgdb9nsd_000001</td>
      <td>1</td>
      <td>3</td>
      <td>2JHH</td>
      <td>-11.25480</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>dsgdb9nsd_000001</td>
      <td>1</td>
      <td>4</td>
      <td>2JHH</td>
      <td>-11.25430</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>dsgdb9nsd_000001</td>
      <td>2</td>
      <td>0</td>
      <td>1JHC</td>
      <td>84.80740</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>dsgdb9nsd_000001</td>
      <td>2</td>
      <td>3</td>
      <td>2JHH</td>
      <td>-11.25410</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>dsgdb9nsd_000001</td>
      <td>2</td>
      <td>4</td>
      <td>2JHH</td>
      <td>-11.25480</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>dsgdb9nsd_000001</td>
      <td>3</td>
      <td>0</td>
      <td>1JHC</td>
      <td>84.80930</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>dsgdb9nsd_000001</td>
      <td>3</td>
      <td>4</td>
      <td>2JHH</td>
      <td>-11.25430</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>dsgdb9nsd_000001</td>
      <td>4</td>
      <td>0</td>
      <td>1JHC</td>
      <td>84.80950</td>
    </tr>
    <tr>
      <th>10</th>
      <td>10</td>
      <td>dsgdb9nsd_000002</td>
      <td>1</td>
      <td>0</td>
      <td>1JHN</td>
      <td>32.68890</td>
    </tr>
    <tr>
      <th>11</th>
      <td>11</td>
      <td>dsgdb9nsd_000002</td>
      <td>1</td>
      <td>2</td>
      <td>2JHH</td>
      <td>-11.18660</td>
    </tr>
    <tr>
      <th>12</th>
      <td>12</td>
      <td>dsgdb9nsd_000002</td>
      <td>1</td>
      <td>3</td>
      <td>2JHH</td>
      <td>-11.17570</td>
    </tr>
    <tr>
      <th>13</th>
      <td>13</td>
      <td>dsgdb9nsd_000002</td>
      <td>2</td>
      <td>0</td>
      <td>1JHN</td>
      <td>32.68910</td>
    </tr>
    <tr>
      <th>14</th>
      <td>14</td>
      <td>dsgdb9nsd_000002</td>
      <td>2</td>
      <td>3</td>
      <td>2JHH</td>
      <td>-11.17580</td>
    </tr>
    <tr>
      <th>15</th>
      <td>15</td>
      <td>dsgdb9nsd_000002</td>
      <td>3</td>
      <td>0</td>
      <td>1JHN</td>
      <td>32.69050</td>
    </tr>
    <tr>
      <th>16</th>
      <td>16</td>
      <td>dsgdb9nsd_000003</td>
      <td>1</td>
      <td>2</td>
      <td>2JHH</td>
      <td>-9.94641</td>
    </tr>
    <tr>
      <th>17</th>
      <td>17</td>
      <td>dsgdb9nsd_000005</td>
      <td>2</td>
      <td>0</td>
      <td>1JHC</td>
      <td>171.22000</td>
    </tr>
    <tr>
      <th>18</th>
      <td>18</td>
      <td>dsgdb9nsd_000005</td>
      <td>2</td>
      <td>1</td>
      <td>2JHN</td>
      <td>5.18246</td>
    </tr>
    <tr>
      <th>19</th>
      <td>19</td>
      <td>dsgdb9nsd_000007</td>
      <td>2</td>
      <td>0</td>
      <td>1JHC</td>
      <td>83.54290</td>
    </tr>
  </tbody>
</table>
</div>

In [47]:
noble_gasses = [2,10,18,36,54,86]

In [ ]:
noble_gas_configurations =